

body{
    background-image: url('/assets/bg.jpg');
     overflow: hidden;  
}


.banner1, .banner2 , .banner3{
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

img{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-50%);
    animation:  zoom-out 3s linear infinite  ;
}

@keyframes zoom-out{
    100%{
        width: 95%;
     
    }
}

.text{
    border: 2px solid white;
    width: 600px;
    position: absolute;
    top: 200px;
    left: 100px;
    color: white;
    animation: textup 12s linear infinite;
    transform: translateY(100px);
}



.banner1 {
    animation: slide1 12s linear infinite;
}

.banner2 {
    animation: slide2 12s linear infinite;
}

.banner3 {
    animation: slide3 12s linear infinite;
}





@keyframes slide1{
    0%{
        visibility: visible;
    } 

    25%{
        visibility: hidden;

    } 

    50%{
        visibility: hidden;
        
    } 

    75%{
        visibility: hidden;
        
    } 



}


@keyframes slide2{
    0%{
        visibility: hidden;
    } 

    25%{
        visibility: hidden;

    } 

    50%{
        visibility: visible;
        
    } 

    75%{
        visibility: hidden;
        
    } 



}

@keyframes slide3{
    0%{
        visibility: hidden;
    } 

    25%{
        visibility: hidden;

    } 

    50%{
        visibility: hidden;
        
    } 

    75%{
        visibility: visible;
        
    } 

}


@keyframes textup{

    10%{
        transform: translateY(0px);
    }

    100%{
        transform: rotateY(0px);
    }
}



